body {
  font : normal 120% georgia, times, serif;
  color : #00192c;
  background : #eeeeee;
  max-width : 52em;
  margin : 0em auto;
  border : 1px dashed black;
}

div#header, div#footer {
  border : 1px solid #000f2d;
  color : inherit;
  background : #4e6daa;
}

div#header h1 {
  font-size : 400%;
  font-weight : normal;
  padding : 0em 0.5em;
  margin : 0em;
  color : #000f2d;
  background : transparent;
}

div#header p#subtitle {
  font-size : 80%;
  padding : 0em 2.5em;
}

div#main {
  border : 1px solid #000f2d;
  width : 35em;
  float : left;
  color : inherit;
  background : #ffffff;
  padding : 0.2em;
  margin : 0.5em 0em;
}

div#sidebar {
  border : 1px solid #000f2d;
  width : 15em;
  float : right;
  color : inherit;
  background : #ffffff;
  padding : 0.2em;
  margin : 0.5em 0em;
}

div#sidebar li {
  border : 1px solid black;
  padding : 0em 0.1em;
  margin : 0.5em 0em;
}

div#sidebar h3 {
  margin : 0em;
  font-size : 110%;
  font-weight : normal;
}

div#sidebar p {
  margin : 0em;
}

ol {
  list-style-type : none;
  padding : 0.1em;
}

div#footer {
  clear : both;
  text-align : right;
  font-size : xx-small;
  font-style : italic;
}