- if @gig_list.group_by_time_period.empty?
  %p No gigs found.
- else
  - @gig_list.group_by_time_period(@col).each do |time_period|
    %div.time-period{:id => time_period.css}
      %h2= rp(time_period.title)
      %ol
        - time_period.gigs.each do |gig|
          %li{updated_class?(gig, @gig_list)}
            %a{:href => gig_link(gig), :title => rp(gig.location)}
              = rp(gig.send("title_by_#{@title_by or 'time_period'}"))
