- if @gig_list.group_by_time_period.empty?
  %p No gigs found.
- else
  - @gig_list.group_by_time_period.each do |time_period|
    %h2= rp(time_period.title)
    %ol
      - time_period.gigs.each do |gig|
        %li{updated_class?(gig, @gig_list)}
          %a{:href => gig_link(gig), :title => rp(gig.address)}
            = rp(gig.send("title_by_#{@title_by or 'time_period'}"))
