%div#main
  %div#map-container
  =haml :_gig_list, :layout => false
%div#sidebar
  %div#filter
    %h2 Filter
    %form{:action => '/filter-gig-list/', :method => 'POST'}
      %p
        %input{:type => 'text', :name => 'days', :size => 2,
               :value => h(@days)}
        %label{:for => 'days'} days ahead at
        %br
        %input{:type => 'text', :name => 'location', :size => 20,
               :value => h(@location)}
        %label{:for => 'days'} (locations)
      %p
        %input{:type => 'hidden', :name => 'link',
               :value => @gig_list.link}
        - if @freshness
          %input{:type => 'hidden', :name => 'freshness',
                 :value => 'freshness'}
        %input{:type => 'submit', :value => 'Filter'}
  %h2 Bands
  %ol#bands
    - @gig_list.bands.sort_by {|b| b.title}.each do |band|
      %li
        %a{:href => "/band/#{band.myspace_name}/"}= rp(band.title)
