%div#main
  %h2 Create new gig list
  %p Enter a list of band links on MySpace:
  %form{:action => '/update-gig-list/', :method => 'POST'}
    %p
      %input{:type => 'text', :name => 'title', :id => 'title'}
      %label{:for => 'title'} (list title)
    %p
      %input.openid{:type => 'text', :name => 'openid_uri',
                    :id => 'openid_uri'}
      %label{:for => 'openid_uri'} (OpenID &#8212; optional)
    %p
      %textarea{:name => 'band_list', :rows => 12, :cols => 60}
    %p
      %input.submit{:type => 'submit', :value => 'Create gig list'}
%div#sidebar
  %h2 Upcoming gigs
  %ol#upcoming-gigs
    - @gig_list.by_time[0..4].each do |gig|
      %li
        %h3= rp(gig.title)
        %p
          %a{:href => "/band/#{gig.band.myspace_name}/"}<
            = rp(gig.band.title)
          on
          = rp(gig.time_formatted)
